.products {
  padding: 128px 32px;
}
.products-container {
  display: flex;
  flex-direction: column;
  width: 1136px;
  min-height: 364px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}

.products-heading {
  color: #111;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.products-heading span {
  color: #fd9222;
}

.product-name {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.product-type {
  color: rgba(17, 17, 17, 0.7);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
  margin-bottom: 18px;
}

.products-span {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-width: 94px;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

// === Slider ===

.swiper {
  width: 100%;
  height: 100%;
}

div.swiper-slide {
  width: 270px !important;
  margin-right: 0 !important;
  text-align: center;
  height: 364px;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.swiper-wrapper {
  display: flex;
  gap: 18px;
  position: relative;
}

div.swiper.mySwiper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

div.swiper-pagination {
  position: static;
  display: inline-flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.swiper-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
  margin-left: 0;
  margin-right: 0;
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background-color: #fd9222;
  border-radius: 20px;
}
