<<<<<<< Updated upstream
.our-products {
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 442px;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

.products-title {
    color: #111111;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */;
    letter-spacing: -0.72px;
    text-align: center;
    
}

.span-heading {
    color: #fd9222;
}

.products-list {
    display: flex;
    gap: 18px;
}

.products-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.products-list-content {
    width: 270px;
    height: 364px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 20px;
}

.product-name {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */;
    letter-spacing: -0.36px;
}

.product-type {
    color: rgba(17, 17, 17, 0.70);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.24px;
}

.products-button {
    display: flex;
    padding: 8px 20px;
    gap: 14px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FAFAFA;
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 18px;
    
}

li.swiper-slide  {
    display: flex;
    margin: 0;
    padding: 0;
    flex-shrink: 1;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  