<section class="advantages">
  <div class="advantages-container container">
    <ul class="advantages-list">
      <li class="advantages-item">
        <div class="advantages-wrapper">
          <span class="advantages-icon-container">
            <svg class="advantages-icon" width="32" height="32">
              <use href="/src/images/icons.svg#chocolate-bar"></use>
            </svg>
          </span>
          <div class="advantages-description-container">
            <h2 class="advantages-heading">Unsurpassed taste</h2>
            <p class="advantages-paragraph">
              Crafted with the finest quality cocoa beans and a dedication to
              perfection, each bite is a decadent experience that simply cannot
              be matched. Savor the richness and complexity of our Unsurpassed
              Taste and discover a new level of chocolate bliss.
            </p>
          </div>
        </div>
        <span class="advantages-line-container">
          <svg class="advantages-line" width="1" height="124">
            <use href="/src/images/icons.svg#line"></use>
          </svg>
        </span>
      </li>
      <li class="advantages-item">
        <div class="advantages-wrapper">
          <span class="advantages-icon-container">
            <svg class="advantages-icon" width="32" height="32">
              <use href="/src/images/icons.svg#coin"></use>
            </svg>
          </span>
          <div class="advantages-description-container">
            <h2 class="advantages-heading">Affordable price</h2>
            <p class="advantages-paragraph">
              Indulge in high-quality chocolate without breaking the bank with
              Simply Chocolate's selection of affordable treats. Enjoy
              mouth-watering truffles and velvety chocolate bars without
              sacrificing taste or quality. Browse our selection and indulge in
              affordable luxury today.
            </p>
          </div>
        </div>
        <span class="advantages-line-container">
          <svg class="advantages-line" width="1" height="124">
            <use href="/src/images/icons.svg#line"></use>
          </svg>
        </span>
      </li>
      <li class="advantages-item">
        <div class="advantages-wrapper">
          <span class="advantages-icon-container">
            <svg class="advantages-icon" width="32" height="32">
              <use href="/src/images/icons.svg#spoon"></use>
            </svg>
          </span>
          <div class="advantages-description-container">
            <h2 class="advantages-heading">Own production</h2>
            <p class="advantages-paragraph">
              We take pride in our own production process, ensuring that every
              step is carefully crafted to perfection. From selecting the finest
              ingredients to handcrafting each piece, our attention to detail is
              evident in every bite.
            </p>
          </div>
        </div>
        <!-- <span class="advantages-line-container">
            <svg class="advantages-line" width="1" height="124">
                <use href="/src/images/icons.svg#line"></use>
            </svg>
        </span> -->
      </li>
    </ul>
  </div>
</section>
