<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style>
      img {
        position: absolute;
        cursor: pointer;
        opacity: 0.9;
        transition: 1s;
      }

      iframe {
        border: 0;
      }

      .active {
        opacity: 0;
        pointer-events: none;
      }
    </style>
  </head>
  <body>
    <iframe
      class="how-its-made-video"
      src="https://www.youtube.com/embed/Jw0DXZIywdI?si=fCH4wCJy-ikFYcp_"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <img src="/src/images/how-its-made-desktop.jpg" alt="Foreground image" />

    <iframe width="1280" height="720" src="https://www.youtube.com/embed/G7tmQVmHVo0" title="Homemade Dark Chocolate Recipe | How to make Dark Chocolate | Homemade Sugar free Dark Chocolate" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <script>
      document.querySelector('img').addEventListener('click', function () {
        this.className = 'active';
        document.querySelector('iframe').src += '?autoplay=1';
      });
    </script> -->
  </body>
</html>
