<section class="our-products">
    <div></div>
        <h2 class="products-title">OUR <span class="products-span">PRODUCTS</span></h2>
        <ul class="products-list list">
            <li class="products-list-item">
                <img src="images/products-img1.jpg" width="230" height="201">
                <p class="product-name">ORANGE</p>
                <p class="product-type">Dark chocolate</p>
                <button type="button" class="products-button">45 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img2.jpg" width="230" height="201">
                <h3 class="product-name">APPLE&CRANBERRY</h3>
                <p class="product-type">Milk chocolate</p>
                <button type="button" class="products-button">50 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img3.jpg" width="230" height="201">
                <h3 class="product-name">LIME&SEA SALT</h3>
                <p class="product-type">Dark chocolate</p>
                <button type="button" class="products-button">66 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img4.jpg" width="230" height="201">
                <h3 class="product-name">PINEAPPLE</h3>
                <p class="product-type">Dark chocolate</p>
                <button type="button" class="products-button">54 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img1.jpg" width="230" height="201">
                <p class="product-name">ORANGE</p>
                <p class="product-type">Dark chocolate</p>
                <button type="button" class="products-button">45 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img2.jpg" width="230" height="201">
                <h3 class="product-name">APPLE&CRANBERRY</h3>
                <p class="product-type">Milk chocolate</p>
                <button type="button" class="products-button">50 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img3.jpg" width="230" height="201">
                <h3 class="product-name">LIME&SEA SALT</h3>
                <p class="product-type">Dark chocolate</p>
                <button type="button" class="products-button">66 UAH</button>
            </li>
            <li class="products-list-item">
                <img src="images/products-img4.jpg" width="230" height="201">
                <h3 class="product-name">PINEAPPLE</h3>
                <p class="product-type">Dark chocolate</p>
                <button type="button" class="products-button">54 UAH</button>
            </li>
        </ul>
        
</section>









<!-- <section>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="images/products-img1.jpg" alt="Orange">
            <div class="card-content">
                <h2 class="product-name">Orange</h2>
                <p class="product-type">Dark chocolate</p>

            </div>

        </div>
        
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>     -->