<section class="products">
  <div class="products-container container">
    <h2 class="products-heading">OUR <span>PRODUCTS</span></h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img1.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">orange</p>
            <p class="product-type">Dark chocolate</p>
            <span class="products-span">45 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img2.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">APPLE&CRANBERRY</p>
            <p class="product-type">Milk chocolate</p>
            <span class="products-span">50 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img3.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">lime&sea salt</p>
            <p class="product-type">Dark chocolate</p>
            <span class="products-span">66 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img4.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">pineapple</p>
            <p class="product-type">Dark chocolate</p>
            <span class="products-span">54 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img5.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">Classic</p>
            <p class="product-type">Milk chocolate</p>
            <span class="products-span">45 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img6.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">honey</p>
            <p class="product-type">Milk chocolate</p>
            <span class="products-span">50 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img7.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">Roasted fruits</p>
            <p class="product-type">Dark chocolate</p>
            <span class="products-span">66 UAH</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="products-content-container">
            <img
              src="/src/images/products-img8.jpg"
              style="width: 230px; height: 201px; margin-bottom: 8px"
            />
            <p class="product-name">Classic</p>
            <p class="product-type">White chocolate</p>
            <span class="products-span">54 UAH</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.mySwiper', {
    slidesPerView: 4,
    spaceBetween: 18,
    freeMode: true,
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
