<section class="our-products">
    <div class="products-container container">
        <h2 class="products-heading">OUR <span class="span-heading">PRODUCTS</span></h2>
        <div class="swiper mySwiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="swiper-container">
                        <div class="products-img-container">
                            <img 
                            src="/src/images/products-img1.jpg"
                            width="230px"
                            height="201px"
                            alt="orange chocolate">
                            <p class="product-name">ORANGE</p>
                            <p class="product-type">Dark chocolate</p>
                            <button type="button" class="price-btn">45 UAH</button>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="swiper-container">
                        <div class="products-img-container">
                            <img 
                            src="/src/images/products-img1.jpg"
                            width="230px"
                            height="201px"
                            alt="orange chocolate">
                            <p class="product-name">ORANGE</p>
                            <p class="product-type">Dark chocolate</p>
                            <button type="button" class="price-btn">45 UAH</button>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pagination"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 4,
      spaceBetween: 18,
      pagination: {
        el: '.pagination',
        clickable: true,
      },
    });
  </script>
        
</section>









<!-- <section>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="images/products-img1.jpg" alt="Orange">
            <div class="card-content">
                <h2 class="product-name">Orange</h2>
                <p class="product-type">Dark chocolate</p>

            </div>

        </div>
        
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>     -->