<section class="sellers">
  <div class="sellers-container container">
    <h2 class="sellers-heading"><span>TOP</span> SELLERS</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
          <img
            class="sellers-img"
            src="/src/images/top-seller-img1-desktop.jpg"
            alt="Coffee Bean"
            width="368"
            height="464"
            >
      </li>
      <li class="sellers-item">
        <div class="sellers-img-container">
          <img
            class="sellers-img"
            src="/src/images/top-seller-img2-desktop.jpg"
            alt="Almond Chocolate"
            width="368"
            height="464"
          />
        </div>
      </li>
      <li class="sellers-item">
        <div class="sellers-img-container">
          <img
            class="sellers-img"
            src="/src/images/top-seller-img3-desktop.jpg"
            alt="Dark Chocolate"
            width="368"
            height="464"
          />
        </div>
      </li>
    </ul>
    <div class="sellers-description-container">
      <p class="sellers-paragraph">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="sellers-btn">Buy now</button>
    </div>
</section>
