<section class="subscribe">
    <div class="subscribe-container container">
        <h2 class="subscribe-heading">Explore Our New Chocolate First</h2>
        <p class="subscribe-paragraph">
            From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art that is sure to please.
        </p>
        <button type="button" class="subscribe-btn" subscribe-data-modal-open>Subscribe</button>
    </div>
    <div subscribe-data-modal class="backdrop is-hidden">
        <div class="subscribe-modal">
            <div class="subscribe-modal-background">
            <svg
                class="subscribe-modal-close"
                width="16"
                height="16"
                subscribe-data-modal-close
                >
                <use href="/src/images/icons.svg#close"></use>
            </svg>
            </div>
            <div class="subscribe-modal-description">
                <h2 class="subscribe-modal-heading">Explore our <br><span>new chocolate</span> first!</h2>
                <div class="subscribe-modal-input-btn">
                    <label class="subscribe-modal-input-container">
                        <input class="subscribe-modal-input" type="email" id="email" name="email" placeholder="Enter your email">
                    </label>
                    <button type="submit" class="subscribe-modal-btn">Submit</button>
                </div>
            
            </div>
        </div>
    <div>
</section>